@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: black;
}


@layer base {
    .text-edge-outline {
      -webkit-text-stroke: 1px rgba(255,255,255,0.3);
    }
  } 
  

/* width */
::-webkit-scrollbar {
  width: 5px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(0, 117, 190);
  border-radius: 10px;
}
  